<ng-container *ngFor="let menu of menuObserver$ | async">
    <ng-container *ngIf="menu.aside.allow">
      <ul>
          <ng-container *ngIf="user.buyer">
            <li *ngFor="let links of menu.aside.buyerMenu">
                  <a  [routerLink]="links.page" [routerLinkActive]="['active']"
                  [matTooltip]="links.desc" matTooltipPosition="left"> {{links.title}}
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="user.seller">
            <li *ngFor="let links of menu.aside.sellerMenu">
                  <a  [routerLink]="links.page" [routerLinkActive]="['active']"
                  [matTooltip]="links.desc" matTooltipPosition="left"> {{links.title}}
              </a>
            </li>
          </ng-container>
      </ul>  
    </ng-container>
</ng-container>